* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.full-page {
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
}

.content {
    font-size: 28px;
}

.full-page .content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.txt-red {
    color: red;
}

.txt-green {
    color: green;
}

.txt-yellow {
    color: yellow;
}

html {
    overflow-y: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

#scroll-menu {
    z-index: 1;
    position: fixed;
    right: 70px;
    bottom: 90%;
    transform: translateY(-50%);
}

#scroll-menu li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin: 10px 0;
    text-align: center;
    line-height: 40px;
}